body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

div {
   border: 4px solid blue; 
   border-radius: 5px;
   margin: 4px;
}

.top-info-div {
  display: flex;
}

.game-info-field, .round-info-field, .aq-field-div {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

.logEntryContainer {
  margin: 2px;
  padding: 2px;
  border: none;
}

.logdtgDiv {
  background-color: red;
  color: white;
  margin: 3px 8px 3px 3px;
  padding: 1px 4px 1px 4px;
  border-radius: 12px;
}

.logStrDiv, .logdtgDiv {
  font-family: sans-serif;
}

