body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

div {
   border: 4px solid blue; 
   border-radius: 5px;
   margin: 4px;
}

.top-info-div {
  display: flex;
}

.round-number-div {
  height: 40px;
  width: 130%;
  font-size: 30px;
  background-color: blue;
  padding: 10px;
  border-radius: 40px;
}

.round-number-div:hover {
  background-color: rgb(24, 67, 255);
}

.round-number-div.selected-round {
  background-color: rgb(23, 104, 255);
}

.round-number-div.selected-round:hover {
  background-color: rgb(24, 67, 255);
  ;
}

.aq-title-div {
  background-color:orange;
}

.game-info-field, .round-info-field, .aq-field-div {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.round-info-field {
  display:flex;
}

.bottom-div {
  display: flex;
}

.log-div {
  width: 40%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 15px;
}

.logEntryContainer {
  padding: 2px;
  border: none;
}

.logEntryContainer:hover {
  background-color: rgb(46, 46, 46);

}

.logdtgDiv {
  background-color: red;
  color: white;
  margin: 3px 8px 3px 3px;
  padding: 1px 4px 1px 4px;
  border-radius: 12px;
}

.logStrDiv, .logdtgDiv {
  font-family: sans-serif;
}

.round {
  border: solid gray 1px;
  border-radius: 20px;
}

.game {
  border: solid gray 2px;
  border-radius: 20px;
}

.display_question {
  margin-left: 30px;
}
